* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefdf9;
}

.mainContainer {
    display: flex;
    width: 1100px;
    height: 650px;
    border: 1px solid black;
}

.containerLeft {
    flex: 1 1 25%;
    background-color: #403D39;
}

.containerRight {
    flex: 1 1 80%;
    background-color: #CCC5B9;
}